.nftImage {
  /* Override default NFT renderer width */
  height: 100% !important;
  width: 100% !important;
  background: rgba(255, 255, 255, 0.01);
  margin: 0 auto; /*中央*/
  
}

.nftTokenId {
  font-size: 12px;
  margin: 0px;
  margin-top: 12px;
}

.nftName {
  position: absolute;
  top: 76%;
  left: 0%;
  height: 10%;
  background: rgba(30, 82, 255, 0.5);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  color: #fff;
  font-family: inherit;
  vertical-align: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 4px;
  margin-top: 2px;
  text-align: center;
}

.priceContainer {
  position: absolute;
  top: 86.5%;
  left: 0%;
  height: 15%;

  display: flex;
  margin: 0 auto; /*中央*/
  width: 100%;
  gap: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.411);
  /* min-height: 52px; */
}

.nftPriceContainer {
  /* width: 70px;  */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;
  align-items: center;
  text-align: center; */
}

.nftPriceLabel {
  margin: 0px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  font-size: 13px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.795);
  text-align: center;
}

.nftPriceValue {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  font-family: inherit;
  vertical-align: inherit;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: #fff;
  text-align: center;
}
